apiVersion: apps/v1
kind: Deployment
metadata:
  name: clusterfrontend
  labels:
    app: clusterfrontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: clusterfrontend
  template:
    metadata:
      labels:
        app: clusterfrontend
    spec:
      containers:
        - name: frontend
          # image: milanfontys/cluster_frontend:{{ GIT_SHA }}
          image: milanfontys/cluster_frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5002
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
            - name: ASPNETCORE_URLS
              value: "http://+:5002;https://+:5003"
            - name: ASPNETCORE_HTTPS_PORT
              value: "5003"
            - name: ApiSettings__AuthApiBaseUrl
              value: "http://gateway/"
          volumeMounts:
            - name: certs
              mountPath: /app/certs
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
      volumes:
        - name: certs
          secret:
            secretName: devcert
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: clusterfrontend
spec:
  type: NodePort
  selector:
    app: clusterfrontend
  ports:
    - name: http
      port: 80
      targetPort: 5002
    - name: https
      port: 443
      targetPort: 5003
