name: Build and Push Docker Images

on:
  workflow_run:
    workflows:
      - ".NET"
    types:
      - completed

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - service: gateway.api
            context: Cluster
            dockerfile: gateway/Gateway.API/Dockerfile
            image_name: milanfontys/cluster_gateway_service
          - service: auth.api
            context: Cluster
            dockerfile: services/Auth.API/Dockerfile
            image_name: milanfontys/cluster_auth_service
          - service: clusterfrontend
            context: Cluster
            dockerfile: frontend/ClusterFrontend/ClusterFrontend/Dockerfile
            image_name: milanfontys/cluster_frontend

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push ${{ matrix.service }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ matrix.image_name }}:${{ github.sha }}
            ${{ matrix.image_name }}:latest