name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore Cluster.sln
      working-directory: Cluster/
      
    - name: Build
      run: dotnet build --no-restore Cluster.sln
      working-directory: Cluster/
      
    - name: Test
      run: dotnet test --no-build --verbosity normal Cluster.sln
      working-directory: Cluster/

    - name: Code Analysis
      run: dotnet format --verify-no-changes --severity info
      working-directory: Cluster/

    - name: Static Code Analysis
      run: dotnet build Cluster.sln -warnaserror -p:AnalysisMode=AllEnabled
      working-directory: Cluster/

    - name: Generate Code Metrics
      run: dotnet build Cluster.sln -warnaserror -p:AnalysisMode=AllEnabled -p:RunCodeAnalysis=true
      working-directory: Cluster/

    - name: Security Scan (NuGet Vulnerabilities)
      run: dotnet list Cluster.sln package --vulnerable
      working-directory: Cluster/