name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore Cluster.sln
      working-directory: Cluster/
      
    - name: Build
      run: dotnet build --no-restore Cluster.sln
      working-directory: Cluster/
      
    - name: Test
      run: dotnet test --no-build --verbosity normal Cluster.sln
      working-directory: Cluster/

    - name: Code Analysis
      continue-on-error: true
      run: dotnet format --verify-no-changes --severity info Cluster.sln
      working-directory: Cluster/

    - name: Static Code Analysis
      run: dotnet build -warnaserror -p:AnalysisMode=AllEnabled Cluster.sln
      working-directory: Cluster/

    - name: Generate Code Metrics
      run: dotnet build -warnaserror -p:AnalysisMode=AllEnabled -p:RunCodeAnalysis=true Cluster.sln
      working-directory: Cluster/

    - name: Security Scan (NuGet Vulnerabilities)
      working-directory: Cluster/
      run: |
        find . -type f -name '*.csproj' ! -name 'docker-compose.dcproj' -print0 \
          | xargs -0 -n1 dotnet list package --vulnerable
