name: Trivy Vulnerability Scan

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  trivy-scan:
    permissions:
      contents: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - image: milanfontys/cluster_gateway_service
          - image: milanfontys/cluster_auth_service
          - image: milanfontys/cluster_frontend

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Sanitize image name for file output
        id: sanitize
        run: |
          sanitized=$(echo "${{ matrix.image }}" | sed 's|/|_|g')
          echo "filename=$sanitized" >> "$GITHUB_OUTPUT"

      - name: Run Trivy vulnerability scanner on ${{ matrix.image }}
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
          image-ref: '${{ matrix.image }}:latest'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results-${{ steps.sanitize.outputs.filename }}.sarif'
          severity: 'CRITICAL,HIGH'
          trivyignores: .trivyignore

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results-${{ steps.sanitize.outputs.filename }}.sarif'
